# DS7331 Project 1 
#### Hollie Gardner, Cleveland Johnson, Shelby Provost
Chose diabetes_012_health_indicators_BRFSS2015.csv dataset from https://www.kaggle.com/alexteboul/diabetes-health-indicators-dataset/version/1

In [3]:
# Importing the diabetes_data dataset using pandas
import pandas as pd
# Reading the CSV file
df = pd.read_csv('creditDefault_data.csv')
# Getting a first look at the dataset
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Part 1 - Visualization and Data Preprocessing 
### Purpose 
* Describe the purpose of the data set you selected (i.e., why was this data collected in the first place?).
* Describe how you would define and measure the outcomes from the dataset.
* Why is this data important and how do you know if you have mined useful knowledge from the dataset?
* How would you measure the effectiveness of a good prediction algorithm?

### EDA 
* Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file.
* Explain any missing values, duplicate data, and outliers. Are those mistakes? How do you deal with these problems?
* Give simple, appropriate statistics (range, mode, mean, median, variance, counts, etc.) for the most important attributes and describe what they mean or if you found something interesting. Note: You can also use data from other sources for comparison. Explain the significance of the statistics run and why they are meaningful.
* Visualize the most important attributes appropriately (at least 5 attributes). Important: Provide an interpretation for each chart. Explain for each attribute why the chosen visualization is appropriate.
* Explore relationships between attributes: Look at the attributes via scatter plots, correlation, cross-tabulation, group-wise averages, etc. as appropriate. Explain any interesting relationships. 
* Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships with variables and the target classification).
* Are there other features that could be added to the data or created from existing features? Which ones?
* Exceptional Work, One idea: implement dimensionality reduction, then visualize and interpret the results.