# DS7331 Mini-Lab
#### Group 2: Hollie Gardner, Cleveland Johnson, Shelby Provost
[Dataset Source](https://archive-beta.ics.uci.edu/ml/datasets/census+income)<br/>
[Github Repo](https://github.com/ShelbyP27/DS7331-Project)

In [40]:
#import libraries
import pandas as pd
import numpy as np
import os

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# data preprocessing 
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

#prediction models
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Loading and Prepping Data

In [41]:
# Importing the census dataset using pandas
# Reading the CSV file after converting file to csv and removing superfluous spaces via Excel.
df = pd.read_csv('https://raw.githubusercontent.com/ShelbyP27/DS7331-Project/main/adult-data.csv')

# Getting a first look at the dataset
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [42]:
#Cleaning up data set
df = df.replace(to_replace='?',value=np.nan) # replace '?' with NaN (not a number)
df.dropna(inplace=True) # Removing na values
df.duplicated(subset=None, keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Length: 30162, dtype: bool

In [43]:
# Removing attributes not considered usefull
del df['workclass']
del df['fnlwgt']
del df['education']
del df['occupation']
del df['capital-gain']
del df['capital-loss']

#Replace Native Country with Immigrant atribute
if 'native-country' in df:
    df['immigrant'] = np.where(df['native-country']!= 'United-States', 1, 0)
    del df['native-country']
df.head()

,age,education-num,marital-status,relationship,race,sex,hours-per-week,income,immigrant
0,39,13,Never-married,Not-in-family,White,Male,40,<=50K,0
1,50,13,Married-civ-spouse,Husband,White,Male,13,<=50K,0
2,38,9,Divorced,Not-in-family,White,Male,40,<=50K,0
3,53,7,Married-civ-spouse,Husband,Black,Male,40,<=50K,0
4,28,13,Married-civ-spouse,Wife,Black,Female,40,<=50K,1

In [44]:
# Standardize continous features
df['age'] = preprocessing.scale(df['age'])
df['hours-per-week'] = preprocessing.scale(df['hours-per-week'])
df['education-num'] = preprocessing.scale(df['hours-per-week'])

# One-hot encode Categorical 
tmp_df = pd.get_dummies(df['marital-status'], prefix = 'Marital')
df = pd.concat((df, tmp_df), axis =1)

tmp_df = pd.get_dummies(df['relationship'], prefix = 'Rel')
df = pd.concat((df, tmp_df), axis =1)

df['IsMale'] = df.sex == 'Male'
df.IsMale = df.IsMale.astype(np.int)

if 'sex' in df:
    del df['sex']
    
if 'marital-status' in df:
    del df['marital-status']
    
if'relationship' in df:
    del df['relationship']